<table>
  <tbody>
    {{#sections}}
      <tr>
        <td colspan="2" style="padding-top: 1.5rem; border: none;">
          <h2>{{title}}</h2>
        </td>
      </tr>
      {{#variables}}
        <tr>
          <td><code>{{name}}</code></td>
          <td><code style="border: none;">{{value}}</code></td>
        </tr>
      {{/variables}}
    {{/sections}}
  </tbody>
</table>

<style>
  table { width: 100%; border-collapse: collapse; margin-top: 0rem; } th, td {
  border: 1px solid #ddd; padding: 0.75rem; text-align: left; } th {
  background-color: #f4f4f4; }
</style>