/* -===================- */
/* -=== .list-pager ===- */
/* -===================- */
.list-pager {
  display: flex;
  position: relative;
  list-style-type: none;
  user-select: none;
  margin-bottom: 60px;
}

.list-pager__pill-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -7.5%);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.list-pager__pill {
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  height: 32px;
  min-width: 32px;
  font-size: 15px;
  letter-spacing: 0.02em;
  padding: 0 12px;
}

.list-pager__pill:hover {
  opacity: 40%;
  cursor: pointer;
}

.list-pager__pill.dots:hover {
  opacity: 100%;
  cursor: default;
}

.list-pager__pill.selected {
  font-weight: bold;
  text-decoration: underline;
}

/* -==================- */
/* -=== .nav-arrow ===- */
/* -==================- */
.list-pager__nav-arrow {
  position: absolute;
  top: 50%;
  margin: 0 10%;
  padding: 4.5px 4.5px 1.5px 3.75px;
}
.list-pager__nav-arrow:hover {
  opacity: 40%;
  cursor: pointer;
}
.list-pager__nav-arrow.left {
  left: 0;
}
.list-pager__nav-arrow.right {
  right: 0;
}

/* Turn off text/tap highlight on mobile devices */
@media only screen and (max-device-width: 1024px) {
  .list-pager__nav-arrow {
    display: none;
  }
  .list-pager__nav-arrow,
  .list-pager__pill {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
  }
  .list-pager__nav-arrow:hover,
  .list-pager__pill:hover {
    opacity: 100%;
  }
}

/* --screen-medium */
@media (max-width: 700px) {
  .list-pager__nav-arrow {
    margin: 0 2.5%;
  }
}

/* --screen-small */
@media (max-width: 500px) {
  .list-pager__nav-arrow {
    margin: 0 2%;
  }
}

/* --screen-xs */
@media (max-width: 450px) {
  .list-pager__pill {
    padding: 0 7px;
  }
  .list-pager__pill.dots {
    margin: 0 -2px;
  }
  .list-pager__nav-arrow {
    margin: 0;
  }
}

/* https://www.freecodecamp.org/news/build-a-custom-pagination-component-in-react/ */
