<style>
  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>


{{#*inline "listContent"}}
  <h2 style="margin: 20px 0 5px; user-select: none; cursor: pointer;" onclick="toggleDropdown(this)">
    {{TITLE}}
  </h2>
  <div 
    class="dropdown-content" 
    style="display: none; margin: 7.5px 10px 12.5px; padding: 10px; color: hsl(0, 0%, 50%); border: 1px solid hsl(0, 0%, 75%); border-radius: 10px; font-family: monospace; font-size: var(--font-size-xsmall);"
  >
    backgroundColor: {{backgroundColor}}
    <br />gap: {{gap}}
    {{#if imageSize}}
      <br />imageSize: {{imageSize}}
    {{/if}}
    {{#if imageBorderRadius}}
      <br />imageBorderRadius: {{imageBorderRadius}}
    {{/if}}
    <br />titleColor: {{titleColor}}
    <br />titleFontSize: {{titleFontSize}}
    <br />subtitleColor: {{subtitleColor}} 
    <br />subtitleFontSize: {{subtitleFontSize}}
  </div>
  {{!-- ACTUAL CONTENT FOR .media-list.item !!! --}}
  <div
    style="
      font-family: 'Barlow', sans-serif; 
      display: flex;
      align-items: center;
      background-color: var({{backgroundColor}}); 
      gap: var({{gap}}); 
      padding: var(--spacing-y-small) var(--spacing-x-medium);
    "
  >
    {{!-- COLUMN 1 --}}
    {{#if imageSrc}}
      {{> atoms-cover-image src=imageSrc size=imageSize  borderRadius=imageBorderRadius }}
    {{/if}}
    {{!-- COLUMN 2 --}}
    <div style="display: flex; flex-direction: column; width: 100%; overflow: hidden;">
      <span style="color: var({{titleColor}}); font-size: var({{titleFontSize}}); font-weight: var({{titleFontWeight}});" class="truncate-text">
        {{titleText}}
      </span>
      <span style="color: var({{subtitleColor}}); font-size: var({{subtitleFontSize}}); font-weight: var({{subtitleFontWeight}});" class="truncate-text">
        {{subtitleText}}
      </span>
      {{#if dateText}}
        <span style="color: var({{dateColor}}); font-size: var({{subtitleFontSize}}); font-weight: var({{datFontWeight}});" class="truncate-text">
          {{dateText}}
        </span>
      {{/if}}
    </div>
  </div>
{{/inline}}


<script>
  function toggleDropdown(element) {
    const dropdown = element.nextElementSibling;
    if (dropdown && dropdown.classList.contains("dropdown-content")) {
      dropdown.style.display = dropdown.style.display === "none" ? "block" : "none";
    }
  }
</script>




{{> listContent
  TITLE="\"Your Library\" Album Item"

  backgroundColor="--color-neutral-gray-93"
  gap="--spacing-x-small"

  imageSrc=albums.long_artists._3.src
  imageSize="regular"
  imageBorderRadius="0"
  
  titleText=albums.long_artists._3.album
  titleColor="--color-neutral-white"
  titleFontSize="--font-size-small"

  subtitleText=albums.long_artists._3.artist
  subtitleColor="--color-neutral-gray-25" 
  subtitleFontSize="--font-size-small" 
}}

{{> listContent
  TITLE="\"Add New Album\" Album Item"

  backgroundColor="--color-neutral-gray-80" 
  gap="--spacing-x-xsmall"

  imageSrc=albums.long_artists._3.src
  imageSize="small"
  imageBorderRadius="5"
  
  titleText=albums.long_artists._3.album
  titleColor="--color-neutral-white"
  titleFontSize="--font-size-small"

  subtitleText=albums.long_artists._3.artist
  subtitleColor="--color-neutral-gray-25" 
  subtitleFontSize="--font-size-small" 
}}


{{> listContent
  TITLE="\"Start New 'In Rotation'\" Album Item"

  backgroundColor="--color-neutral-gray-70" 
  gap="--spacing-x-xsmall"

  imageSrc=albums.long_artists._3.src
  imageSize="xsmall"
  imageBorderRadius="5"
    
  titleText=albums.long_artists._3.album
  titleColor="--color-neutral-white"
  titleFontSize="--font-size-xsmall"

  subtitleText=albums.long_artists._3.artist
  subtitleColor="--color-neutral-gray-25" 
  subtitleFontSize="--font-size-xsmall" 
}}

{{> listContent
  TITLE="Playlist Track Item"

  backgroundColor="--color-neutral-gray-93" 
  gap="--spacing-x-xsmall"

  imageSrc=albums.long_artists._3.src
  imageSize="xsmall"
  imageBorderRadius="0"
    
  titleText=albums.long_artists._3.album
  titleColor="--color-neutral-white"
  titleFontSize="--font-size-xsmall"

  subtitleText=albums.long_artists._3.artist
  subtitleColor="--color-neutral-gray-25" 
  subtitleFontSize="--font-size-xsmall" 
}}

{{> listContent
  TITLE="Album Track Item"

  backgroundColor="--color-neutral-gray-93"
  gap="--spacing-x-xsmall"

  imageSrc=""
  
  titleText=albums.long_artists._3.album
  titleColor="--color-neutral-white"
  titleFontSize="--font-size-xsmall"

  subtitleText=albums.long_artists._3.artist
  subtitleColor="--color-neutral-gray-25" 
  subtitleFontSize="--font-size-xsmall" 
}}

{{> listContent
  TITLE="\"On Repeat\" Track Item"

  backgroundColor="--color-neutral-white" 
  gap="--spacing-x-xsmall"

  imageSrc=albums.long_artists._3.src
  imageSize="small"
  imageBorderRadius="0"
  
  titleText=albums.long_artists._3.album
  titleColor="--color-neutral-black"
  titleFontSize="--font-size-xsmall"
  titleFontWeight="--font-weight-medium"

  subtitleText=albums.long_artists._3.artist
  subtitleColor="--color-neutral-gray-50" 
  subtitleFontSize="--font-size-xsmall"
  subtitleFontWeight="--font-weight-regular"

  dateText="7 Jan 3:15pm"
  dateColor="--color-neutral-gray-25" 
  dateFontWeight="--font-weight-regular"
}}




{{!-- 
{{> blockContent info=albums.default._1 }}
{{> blockContent info=albums.long_albums._1 }}
{{> blockContent info=albums.short_albums._1 }}

{{> blockContent info=albums.default._2 }}
{{> blockContent info=albums.long_artists._1 }}
{{> blockContent info=albums.short_artists._1 }}

{{> blockContent info=albums.default._3 }}
{{> blockContent info=albums.special_chars._1 }}
{{> blockContent info=albums.special_chars._2 }}

{{> blockContent info=albums.default._4 }}
{{> blockContent info=albums.long_albums._2 }}
{{> blockContent info=albums.long_albums._3 }}

{{> blockContent info=albums.default._5 }}
{{> blockContent info=albums.long_artists._2 }}
--}}


