/*-------------------------------------*\
    # VARIABLES
\*-------------------------------------*/

/**
 *  # CONTENTS
 *
 * -- COLORS
 * Brand Colors ............... Globally-available variables and config
 * Accent Colors .............. User-selected profile accent colors
 * Neutral Colors ............. Grayscale colors, including white and black
 * Utility Colors ............. Info, Warning, Error, Success
 *
 * -- TYPOGRAPHY
 * Font Families .............. The fonts used in the design system
 * Sizing ..................... Font sizing
 *
 * -- SPACING
 * Spacing Defaults ........... Spacing between elements
 *
 * -- LAYOUT
 * Max-widths ................. Maximum layout container width
 *
 * -- BORDERS
 * Border Width ............... Border thicknesses
 * Border Radius .............. Border radius definitions
 *
 * -- ANIMATION
 * Animation Speed ............ Transition/animation speed variables
 * Animation Easing ........... Easing variables
 *
 * -- BREAKPOINTS
 * Breakpoints ................ Global breakpoint definitions
 */

/*------------------------------------*\
    # COLORS
\*------------------------------------*/

/**
 * Brand Colors
 * 1) Brand = specific colors
 */
$color-brand-yellow: hsl(43, 100%, 58%);
$color-brand-gray: hsl(0, 0%, 14%);

/**
 * Accent Colors
 * 1) User-selected profile accent colors
 */
$color-accent-primary: hsl(227, 100%, 84%);
$color-accent-primary-dark: hsl(248, 28%, 41%);
$color-accent-primary-darker: hsl(248, 51%, 21%);

/**
 * Neutral Colors
 * 1) Neutral colors are grayscale values used throughout the UI
 */
$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-gray-07: hsl(0, 0%, 93%);
$color-neutral-gray-20: hsl(0, 0%, 80%);
$color-neutral-gray-25: hsl(0, 0%, 75%);
$color-neutral-gray-50: hsl(0, 0%, 50%);
$color-neutral-gray-65: hsl(0, 0%, 35%);
$color-neutral-gray-70: hsl(0, 0%, 30%);
$color-neutral-gray-80: hsl(0, 0%, 20%);
$color-neutral-gray-93: hsl(0, 0%, 7%);
$color-neutral-black: hsl(0, 0%, 0%);

/**
 * Utility Colors
 * 1) Utility colors are used to provide feedback, such as alert messages, form validation, etc.
 */
$color-utility-info: hsl(198, 90%, 58%);
$color-utility-info-light: hsl(198, 90%, 90%);
$color-utility-error: hsl(5, 85%, 55%);
$color-utility-error-light: hsl(5, 84%, 90%);
$color-utility-success: hsl(80, 70%, 60%);
$color-utility-success-light: hsl(80, 70%, 85%);
$color-utility-warning: hsl(42, 100%, 65%);
$color-utility-warning-light: hsl(42, 100%, 90%);

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Family
 */
$font-family: "Barlow", sans-serif;

/**
 * Font Sizing
 */
$font-size-xsmall: 0.8rem;
$font-size-small: 0.9rem;
$font-size-regular: 1rem;
$font-size-medium: 1.15rem;
$font-size-large: 1.4rem;
$font-size-xlarge: 1.75rem;
$font-size-xxlarge: 2.35rem;
$font-size-xxxlarge: 3rem;
$font-size-display: 3.75rem;
$font-size-largedisplay: 4.5rem;

/**
 * Font Weights
 */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/**
 * Line Height
 */
$line-height: 1.2em;

/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Horizontal Spacing
 */
$spacing-x-xxsmall: 0.2015rem;
$spacing-x-xsmall: 0.525rem;
$spacing-x-small: 0.775rem;
$spacing-x-medium: 1.55rem;
$spacing-x-large: 3.1rem;
$spacing-x-xlarge: 6.2rem;
$spacing-x-xxlarge: 12.4rem;
$spacing-x-xxlarge: 24.8rem;

/**
  * Vertical Spacing
  */
$spacing-y-xxsmall: 0.1755rem;
$spacing-y-xsmall: 0.425rem;
$spacing-y-small: 0.675rem;
$spacing-y-medium: 1.35rem;
$spacing-y-large: 2.7rem;
$spacing-y-xlarge: 5.4rem;
$spacing-y-xxlarge: 10.8rem;
$spacing-y-xxlarge: 21.6rem;

/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 */
$spacing: 1rem;
$spacing-small: round(0.5 * $spacing);
$spacing-large: round(2 * $spacing);

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Image Sizes
 */
$image-size-xsmall: 2.825rem;
$image-size-small: 3.5rem;
$image-size-regular: 4.25rem;
$image-size-medium: 6.875rem;
$image-size-large: 9.375rem;
$image-size-xlarge: 16.25rem;

/**
 * Max Width
 */
$l-max-width: 80rem !default;
$l-max-width-narrow: 45rem !default;
$l-linelength-width: 36rem !default;

/*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/**
 * Border
 */
$border-thickness: 1px;

/**
 * Border radius
 */
$border-radius: 4px;

/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Transition Speed
 */
$anim-fade-quick: 0.15s;
$anim-fade-long: 0.5s;

/**
 * Transition Ease
 */
$anim-ease: ease-out;

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

/**
 * Breakpoints used in media queries
 * 1) These are not the only breakpoints used, but they provide a few defaults
 */
$bp-small: 28em;
$bp-small-2: 35em;
$bp-med: 47em;
$bp-large: 60em;
$bp-xl: 70em;
