<style>
  table { width: 100%; border-collapse: collapse; margin-bottom: 20px; } th, td
  { border: 1px solid #ccc; padding: 5px; } th { background-color: #f5f5f5;
  vertical-align: middle; text-align: center; }
</style>

{{!-- {{#sections}}
  <h2 style="margin-top: 1.5rem; margin-bottom: 3.5px; color: hsl(0, 0%, 73%);">
    {{text-style}}
  </h2>
  <ul
    style="border: 1px solid hsl(0, 0%, 87%); border-radius: 10px; padding: 10px;"
  >
    {{#weights}}
      <li
        style="
          font-size: var(--font-size-{{size}});
          font-weight: var(--font-weight-{{weight}});
          line-height: 1.2em;
          font-family: 'Barlow', sans-serif;
          margin-left: 5px;
        "
      >
        {{weight}}
      </li>
    {{/weights}}
  </ul>
{{/sections}} --}}

<table style="margin-top: 20px;">
  <thead>
    <tr>
      <td style="border: none;"></td>
      <th>Sass Variable</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody style="font-family: 'Barlow', sans-serif;">
    <tr>
      <th style="text-align: left; font-weight: 400;">regular</th>
      <td><code>$font-weight-regular</code></td>
      <td style="font-weight: 400;">400</td>
    </tr>
    <tr>
      <th style="text-align: left; font-weight: 500;">medium</th>
      <td><code>$font-size-medium</code></td>
      <td style="font-weight: 500;">500</td>
    </tr>
    <tr>
      <th style="text-align: left; font-weight: 600;">semibold</th>
      <td><code>$font-size-semibold</code></td>
      <td style="font-weight: 600;">600</td>
    </tr>
    <tr>
      <th style="text-align: left; font-weight: 700;">bold</th>
      <td><code>$font-size-bold</code></td>
      <td style="font-weight: 700;">700</td>
    </tr>
  </tbody>
</table>

<small>{{{meta.description}}}</small>