/* .overview {
  min-height: 1500px;
} */

/* -===============================================- */
/* -=== Top Row: ScrobbleList and YearAtAGlance ===- */
/* -===============================================- */
.overview__top-row-wrapper {
  position: relative;
  overflow-x: auto;
}

.overview__top-row-wrapper::-webkit-scrollbar {
  display: none;
}

/* --screen-medium */
@media (max-width: 700px) {
  .overview__top-row-wrapper {
    margin-top: 60px;
  }
}

/* --screen-small */
@media (max-width: 500px) {
  .overview__top-row-wrapper {
    margin-top: 130px;
  }
}

.overview__top-row {
  min-height: 720px;
  margin-bottom: 20px;
}

/* -=============================- */
/* -=== Second Row: UserStats ===- */
/* -=============================- */
.overview__second-row-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 370px;
}

@media (prefers-reduced-motion: no-preference) and (min-width: 501px) {
  .overview__second-row-wrapper {
    /* extra space needed for a more dramatic 'UserStats' scroll animation */
    padding-top: 75px;
  }
}

/* -===============================- */
/* -=== Third Row: TopAlbumsRow ===- */
/* -===============================- */
.overview__third-row-wrapper {
  margin-top: 950px;
}
