<div
    style="
      font-family: 'Barlow', sans-serif; 
      display: flex;
      align-items: center;
      background-color: var({{backgroundColor}}); 
      gap: var({{gap}}); 
      padding: var(--spacing-y-small) var(--spacing-x-medium);
    "
  >
    {{!-- COLUMN 1 --}}
    {{#if imageSrc}}
      {{> atoms-cover-image src=imageSrc size=imageSize  borderRadius=imageBorderRadius }}
    {{/if}}
    {{!-- COLUMN 2 --}}
    <div style="display: flex; flex-direction: column; width: 100%; overflow: hidden;">
      <span style="color: var({{titleColor}}); font-size: var({{titleFontSize}}); font-weight: var({{titleFontWeight}});" class="truncate-text">
        {{titleText}}
      </span>
      <span style="color: var({{subtitleColor}}); font-size: var({{subtitleFontSize}}); font-weight: var({{subtitleFontWeight}});" class="truncate-text">
        {{subtitleText}}
      </span>
      {{#if dateText}}
        <span style="color: var({{dateColor}}); font-size: var({{subtitleFontSize}}); font-weight: var({{datFontWeight}});" class="truncate-text">
          {{dateText}}
        </span>
      {{/if}}
    </div>
  </div>