<style>
  table { width: 100%; border-collapse: collapse; margin-bottom: 20px; } th, td
  { border: 1px solid #ccc; padding: 5px; } th { background-color: #f5f5f5;
  vertical-align: middle; text-align: center; }
</style>

<ul>
  {{#items}}
    <li
      style="margin-bottom: 15px; margin-left: 7.5px; display: flex; align-items: center;"
    >
      <div
        style="display: inline-block; {{width-height}} background-color: #dbdde4; border-radius: 1px;"
      ></div>
      <span style="margin-left: 10px;">
        <b>{{name}}</b>:
        {{value}}
      </span>
    </li>
  {{/items}}
</ul>

<table style="margin-top: 25px;">
  <thead>
    <tr>
      <td style="border: none;"></td>
      <th>Sass Variable</th>
      <th>Value (in rem)</th>
    </tr>
  </thead>
  <tbody>
    {{#items}}
      <tr>
        <th style="text-align: left">{{name}}</th>
        <td><code>{{prefix}}{{name}}</code></td>
        <td>{{value}}</td>
      </tr>
    {{/items}}
  </tbody>
</table>

<small>{{{meta.description}}}</small>