<div class="tabs">
  <button id="cssTab" class="tab active" onclick="switchTab('css')">
    CSS Variables
  </button>
  <button id="scssTab" class="tab" onclick="switchTab('scss')">
    SCSS Variables
  </button>
</div>

<div id="cssTable">
  <table>
    <tbody>
      {{#sections}}
        <tr>
          <td colspan="2" style="padding-top: 1.5rem; border: none;">
            <h2>{{title}}</h2>
          </td>
        </tr>
        {{#variables}}
          <tr>
            <td><code>--{{name}}</code></td>
            <td>{{{swatch}}}{{value}}</td>
          </tr>
        {{/variables}}
      {{/sections}}
    </tbody>
  </table>
</div>

<div id="scssTable" style="display: none;">
  <table>
    <tbody>
      {{#sections}}
        <tr>
          <td colspan="2" style="padding-top: 1.5rem; border: none;">
            <h2>{{title}}</h2>
          </td>
        </tr>
        {{#variables}}
          <tr>
            <td><code>${{name}}</code></td>
            <td>{{{swatch}}}{{value}}</td>
          </tr>
        {{/variables}}
      {{/sections}}
    </tbody>
  </table>
</div>

<script>
  function switchTab(type) { const cssTab = document.getElementById("cssTab");
  const scssTab = document.getElementById("scssTab"); const cssTable =
  document.getElementById("cssTable"); const scssTable =
  document.getElementById("scssTable"); if (type === "css") {
  cssTab.classList.add("active"); scssTab.classList.remove("active");
  cssTable.style.display = "block"; scssTable.style.display = "none"; } else {
  cssTab.classList.remove("active"); scssTab.classList.add("active");
  cssTable.style.display = "none"; scssTable.style.display = "block"; } }
</script>

<style>
  .tabs { display: flex; border-bottom: 2px solid #ccc; margin-bottom: 1rem; }
  .tab { flex: 1; padding: 0.75rem; border: none; background: none; font-size:
  1rem; cursor: pointer; text-align: center; color: #555; } .tab.active {
  font-weight: bold; border-bottom: 2px solid black; color: black; } table {
  width: 100%; border-collapse: collapse; margin-top: 1rem; } th, td { border:
  1px solid #ddd; padding: 0.75rem; text-align: left; } th { background-color:
  #f4f4f4; }
</style>