<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800&display=swap">


		<!--<Deject>-->
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{{ patternLabHead }}}
		<!-- End Pattern Lab -->
		<!--</Deject>-->

	</head>
	<body class="{{ bodyClass }}">
