<ul>
  <section>
    <ul
      class="icon-boxes"
      style="display: grid; grid-gap: 12.5px; grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));"
    >
      {{#icons}}

        <li title="{{name}}">
          <span
            style="display: flex; flex-direction: column; align-items: center; padding: 10px; border: 1px solid #ddd; border-radius: 20px;"
          >
            <div class="icon-box" id="icon-box-{{name}}">
              <a
                href="https://react-icons.github.io/react-icons/search/#q={{name}}"
              >
                {{{svgHtml}}}
              </a>
            </div>
            <b>{{name}}</b>
            <span><code
                style="margin-top: 5px; border-radius: 5px;"
              >{{category}}</code></span>
          </span>
        </li>

      {{/icons}}
    </ul>
  </section>
</ul>

<small>{{{meta.description}}}</small>