<style>
  table { width: 100%; border-collapse: collapse; margin-bottom: 20px; } th, td
  { border: 1px solid #ccc; padding: 5px; } th { background-color: #f5f5f5;
  vertical-align: middle; text-align: center; }
</style>

<ul>
  {{#images}}
    <li
      style="margin-bottom: 17.5px; display: flex; align-items: center; gap: 10px;"
    >
      <img src="{{src}}" alt="{{comment}}" class="c-cover-image--{{size}}" />
      <ol>
        <li><b>{{size}}</b>: {{rem}}</li>
        <li>{{{use_case1}}}</li>
        <li>{{{use_case2}}}</li>
      </ol>
    </li>
  {{/images}}
</ul>

<table style="margin-top: 25px;">
  <thead>
    <tr>
      <td style="border: none;"></td>
      <th>Sass Variable</th>
      <th>Value (in rem)</th>
    </tr>
  </thead>
  <tbody>
    {{#images}}
      <tr>
        <th style="text-align: left">{{size}}</th>
        <td><code>$image-size-{{size}}</code></td>
        <td>{{rem}}</td>
      </tr>
    {{/images}}
  </tbody>
</table>

<small>{{{meta.description}}}</small>