{{! Define the partial to render content }}
{{#*inline "content"}}
  {{#each this.sections}} 
    <h2 style="margin: 1.5rem 0 5px; text-align: center; color: hsl(0, 0%, 73%);">
      {{title}}
    </h2>
    <ul style="border: 1px solid hsl(0, 0%, 87%); border-radius: 5px;">
      {{#each items}}
        <li
          style="
            font-size: var(--font-size-{{size}});
            line-height: 1.2em;
            font-family: 'Barlow', sans-serif;
            margin: 0.5rem;
            padding: 7.5px;
            {{{styles}}}
          "
        >
          <span
            style="cursor: pointer; user-select: none; {{{underlined}}}"
            onclick="toggleDropdown(this)"
          >
            {{text}}
          </span>
          <div class="dropdown-content"
            style="display: none;
              margin-top: 7.5px;
              padding: 10px;
              color: hsl(0, 0%, 30%);
              background: white;
              border: 1px solid hsl(0, 0%, 87%);
              border-radius: 5px;
              font-family: monospace;
              font-size: var(--font-size-xsmall);
              line-height: 1.5rem;
              font-weight: var(--font-weight-regular);
              text-transform: lowercase;
            "
          >
            font-size: var(--font-size-{{size}});
            <br />
            {{{stylesWithBreaks}}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{/each}}
{{/inline}}

<div class="tabs">
  <button id="datesTab" class="tab active" onclick="switchTab('dates')">
    Dates
  </button>
  <button id="artistsTab" class="tab" onclick="switchTab('artists')">
    Artists
  </button>
  <button id="tracksTab" class="tab" onclick="switchTab('tracks')">
    Tracks
  </button>
  <button id="albumsTab" class="tab" onclick="switchTab('albums')">
    Albums
  </button>
  <button id="buttonsTab" class="tab" onclick="switchTab('buttons')">
    Buttons
  </button>
  <button id="labelsTab" class="tab" onclick="switchTab('labels')">
    Labels
  </button>
</div>

<div id="datesContent" class="tab-content">
  {{#dates}}
    {{> content this}}
  {{/dates}}
</div>

<div id="artistsContent" class="tab-content" style="display: none;">
  {{#artists}}
    {{> content this}}
  {{/artists}}
</div>

<div id="tracksContent" class="tab-content" style="display: none;">
  {{#tracks}}
    {{> content this}}
  {{/tracks}}
</div>

<div id="albumsContent" class="tab-content" style="display: none;">
  {{#albums}}
    {{> content this}}
  {{/albums}}
</div>

<div id="buttonsContent" class="tab-content" style="display: none;">
  {{#buttons}}
    {{> content this}}
  {{/buttons}}
</div>

<div id="labelsContent" class="tab-content" style="display: none;">
  {{#labels}}
    {{> content this}}
  {{/labels}}
</div>

<script>
  function switchTab(type) { 
    const tabs = document.querySelectorAll(".tab");
    const tabContents = document.querySelectorAll(".tab-content");
    tabs.forEach(tab => tab.classList.remove("active"));
    tabContents.forEach(t => (t.style.display = "none"));
    document.getElementById(type + "Tab").classList.add("active");
    document.getElementById(type + "Content").style.display = "block";
  }
  function toggleDropdown(spanElement) {
    const parentLi = spanElement.closest("li");
    const dropdown = parentLi.querySelector(".dropdown-content");
    dropdown.style.display = dropdown.style.display === "none" ? "block" : "none";
  }
</script>

<style>
  .tabs { display: flex; border-bottom: 2px solid #ccc; margin-bottom: 1rem; }
  .tab { flex: 1; padding: 0.75rem; border: none; background: none; font-size:
  1rem; cursor: pointer; text-align: center; color: #555; } .tab.active {
  font-weight: bold; border-bottom: 2px solid black; color: black; }
</style>