.login {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    to right bottom,
    var(--green--dark),
    var(--yellow--dark)
  ); */
}

.login__rounded-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  z-index: 0;
  border-radius: 20px;
  background-color: white;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); */
}

.login__inner-container {
  transform: scale(1.25); /* 1.25x scaled up */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__header {
  position: absolute;
  padding: 5px 12px;
  font-size: 4em;
  transform: translateY(-50%);
  user-select: none;
}

.login__input-wrapper {
  position: relative;
  display: inline-block;
}

.login__search {
  font-family: "Barlow", sans-serif;
  font-size: 1.25em;
  padding: 7px;
  padding-right: 45px;
  width: 500px;
  user-select: none;
  text-align: center;
  text-indent: 45px; /* adjust for '45px' padding-right */
}

.login__search::selection {
  background: var(--text-selection-bg);
}

.login__button {
  position: absolute;
  right: 0;
  background-color: #085ccc;
  border-radius: 0 2.45px 2.45px 0;
  padding: 10px 11.5px 6.5px 8.5px;
  border: none;
  cursor: pointer;
}

.login__button-icon {
  transition: transform 0.1s ease-in;
  scale: 1.05;
}

.login__button:hover .login__button-icon {
  transform: scale(1.15);
}

.login__button:active .login__button-icon {
  transform: scale(0.9);
}

.login__error-msg {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 160px;
  color: #085ccc;
  user-select: none;
  font-size: medium;
}

.login__error-msg a {
  margin-left: 4px;
  color: #085ccc;
}

@media (prefers-reduced-motion: no-preference) {
  .horizontal-shake {
    animation: horizontalShake 0.5s;
  }
}

/* Defines "invalid Last.fm username" animation */
@keyframes horizontalShake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ---------------------- */
/* ---- FIRST RESIZE ---- */
/* ---------------------- */
@media (max-width: 750px) {
  .login__inner-container {
    transform: scale(1.1);
  }
  .login__search {
    width: 480px;
    font-size: 1.4em;
  }
  .login__button {
    /* before resizing: `padding: 10px 11.5px 6.5px 8.5px;` */
    padding: 11px 12.5px 7.5px 9.5px;
  }
}

/* ----------------------- */
/* ---- SECOND RESIZE ---- */
/* ----------------------- */
@media (max-width: 650px) {
  .login {
    /* Remove background rounded border */
    background-color: white;
    min-width: 360px;
  }
  .login__rounded-overlay {
    box-shadow: none;
  }
  .login__inner-container {
    transform: scale(1);
  }
}

/* ----------------------------------- */
/* ---- FINAL RESIZE (on desktop) ---- */
/* ----------------------------------- */
@media (max-width: 575px) {
  .login__inner-container {
    transform: scale(0.9);
  }
  .login__header {
    transform: translateY(-52.5%);
  }
  .login__search {
    padding-right: 50px;
    width: 430px;
  }
  .login__button {
    /* before resizing: `padding: 11px 12.5px 7.5px 9.5px;` */
    padding: 11px 13.5px 8.5px 9px;
  }
}

@media (max-width: 480px) {
  .login__inner-container {
    transform: scale(0.75);
  }
  .login__search {
    outline: none !important;
  }
}

@media (max-width: 420px) {
  .login__inner-container {
    transform: scale(0.65);
  }
}

@media (max-width: 380px) {
  .login__inner-container {
    transform: scale(0.6);
  }
}
