<ul style="border: 1px solid hsl(0, 0%, 87%); border-radius: 5px;">
  {{#items}}
    <li
      style="
          font-size: var(--font-size-regular);
          line-height: 1.2em;
          font-family: 'Barlow', sans-serif;
          margin: 0.5rem;
          padding: 10px;
          text-align: center;
          {{{styles}}}
        "
    >
      <span
        style="cursor: pointer; user-select: none;"
        onclick="toggleDropdown(this)"
      >
        The five boxing wizards jump quickly.
      </span>
      <div
        class="dropdown-content"
        style="
            display: none;
            margin-top: 10px;
            padding: 10px;
            color: hsl(0, 0%, 30%);
            background: white;
            border: 1px solid hsl(0, 0%, 87%);
            border-radius: 5px;
            font-family: monospace;
            font-size: var(--font-size-xsmall);
            line-height: 1.5rem;
            text-align: left;
            font-weight: var(--font-weight-regular);
          "
      >
        {{{stylesWithBreaks}}}
      </div>
    </li>
  {{/items}}
</ul>

<script>
  function toggleDropdown(spanElement) { const parentLi =
  spanElement.closest("li"); const dropdown =
  parentLi.querySelector(".dropdown-content"); dropdown.style.display =
  dropdown.style.display === "none" ? "block" : "none"; }
</script>