<ul>
  {{#items}}
    <li
      style="font-size: var(--font-size-{{size}}); line-height: 1.2em; font-family: 'Barlow', sans-serif; margin-bottom: 0.5rem; padding: 5px; {{{styles}}}"
    >
      {{text}}
    </li>
  {{/items}}
</ul>