/* -===================- */
/* -=== .user-stats ===- */
/* -===================- */
.user-stats {
  padding: 8vh 0;
  margin: 25px 35px;
  border-radius: 40px;
  background: linear-gradient(
    to right bottom,
    var(--yellow--light),
    var(--green--light)
  );
  /* parallax scroll effect */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* If screen width <= 500px, 'User Stats' card snaps to sides of screen (i.e., no animation runs) */
@media (max-width: 500px) {
  .user-stats {
    margin: 0;
    border-radius: 0;
  }
}

/* Apply 'User Stats' scroll animation if no reduced motion and screen width > 500px */
@media (prefers-reduced-motion: no-preference) and (min-width: 501px) {
  .__user-stats {
    margin: 80px 100px 0 100px;
    border-radius: 50px;
    animation: grow-shrink ease-out forwards;
    animation-timeline: view();
    animation-range: cover;
  }
  @keyframes grow-shrink {
    25%,
    100% {
      /* [0% - 25%]: the card moves up by -25px */
      /* [25% - 100%]: the card stays in place */
      margin-top: -25px;
    }
    30% {
      /* [25% - 30%]: the card's margin and border-radius remains unchanged */
      margin: -25px 100px 0 100px;
      border-radius: 50px;
    }
    45%,
    90% {
      /* [30% - 45%]: the card expands to fill the screen, corners become square */
      /* [45% - 90%]: the card's margin and border-radius remains unchanged */
      margin: -25px 0 0 0;
      border-radius: 0;
    }
    100% {
      /* [90% - 100%]: the card's border-radius increases, shrinking it upwards */
      border-radius: 70%;
    }
  }
}

/* Turn off parallax scrolling for mobile devices */
@media only screen and (max-device-width: 1024px) {
  .user-stats {
    background-attachment: scroll;
  }
}

/* -=============- */
/* -=== .stat ===- */
/* -=============- */
.user-stats__stat {
  margin: 50px;
  text-align: center;
}

.user-stats__stat:last-child {
  margin-bottom: 55px;
}

.user-stats__stat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: xx-large;
  font-weight: 700;
  margin-bottom: 7.5px;
}

.user-stats__stat-value {
  font-size: xxx-large;
  font-weight: 800;
  scale: 1.15;
}

.user-stats__stat-value a {
  color: black;
  text-decoration: none;
}

.user-stats__stat-value a:hover {
  text-decoration: underline;
}

/* Updates text selection highlight color to be a transparent white */
.user-stats__stat-header::selection,
.user-stats__stat-value span::selection {
  background: #d1fead83;
}
.user-stats__stat-header::-moz-selection,
.user-stats__stat-value span::-moz-selection {
  background: #d1fead83;
}
