<style>
  table { width: 100%; border-collapse: collapse; margin-bottom: 20px; } th, td
  { border: 1px solid #ccc; padding: 5px; } th { background-color: #f5f5f5;
  vertical-align: middle; text-align: center; }
</style>

<ul>
  {{#items}}
    <li
      style="font-size: {{value}}; line-height: 1.2em; font-family: 'Barlow', sans-serif; margin-bottom: 1.35rem;"
    >
      <span style="font-weight: var(--font-weight-semibold);">
        {{name}}:
      </span>
      Every second he kept glancing at the clock.
    </li>
  {{/items}}
</ul>

<table>
  <thead>
    <tr>
      <td style="border: none;"></td>
      <th>Sass Variable</th>
      <th>Value (in rem)</th>
    </tr>
  </thead>
  <tbody>
    {{#items}}
      <tr>
        <th style="text-align: left">{{name}}</th>
        <td><code>$font-size-{{name}}</code></td>
        <td>{{value}}</td>
      </tr>
    {{/items}}
  </tbody>
</table>

<small>{{{meta.description}}}</small>