/* Turn off text/tap highlight on mobile devices */
@media only screen and (max-device-width: 1024px) {
  .yearly-grid {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}
