.expanded-header__bg {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 370px;
  height: 280px;
  background: linear-gradient(to right bottom, var(--purple), var(--blue));
  z-index: -1;
  background-size: 150% 100%;
  animation: gradientBounce 5s linear infinite;
}

@keyframes gradientBounce {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.expanded-header__container {
  padding-top: 90px;
  margin-left: 5%;
}

.expanded-header__profile-picture {
  object-fit: cover;
  height: 225px;
  width: 225px;
  border-radius: 50%;
  margin-top: 10px;
  border: 6px solid transparent;
  background: black;
  user-select: none;
}

.expanded-header__username {
  position: absolute;
  margin-top: 35px;
  margin-left: 30px;
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  z-index: 1;
}

.expanded-header__username:hover {
  text-decoration: underline;
}

/* realname & "scrobbling since" row */
.expanded-header__info-line {
  position: absolute;
  margin-top: 100px;
  margin-left: 30px;
  font-size: 17.5px;
}

.expanded-header__tabs-container {
  display: inline-block;
  position: absolute;
  margin-top: 150px;
  margin-left: 25px;
  max-width: max(calc(100% - 350px), 365px);
  white-space: nowrap;
  overflow-x: auto;
}

.expanded-header__tabs-container::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.expanded-header__tab-button {
  position: relative;
  background-color: transparent;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  padding-top: 2.5px;
  margin-right: 10px;
  border-width: 0;
  color: black;
  text-decoration: none;
}

.expanded-header__tab-button.not-active:hover {
  opacity: 50%;
}

.expanded-header__button-text {
  position: relative;
  cursor: pointer;
}

/* Updates text selection highlight color to be a transparent white */
.expanded-header__username::selection,
.expanded-header__info-line::selection,
.expanded-header__button-text::selection {
  background: #ffffff3e;
}
.expanded-header__username::-moz-selection,
.expanded-header__info-line::-moz-selection,
.expanded-header__button-text::-moz-selection {
  background: #ffffff3e;
}

.expanded-header__button-selector {
  background-color: black;
  cursor: default;
  margin-top: 13.5px;
  padding-top: 5px;
}

/* --screen-medium */
@media (max-width: 700px) {
  .expanded-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .expanded-header__bg {
    height: 295px;
  }
  .expanded-header__container {
    padding-top: 65px;
    margin-left: -305px; /* center horizontally */
  }
  .expanded-header__profile-picture {
    height: 120px;
    width: 120px;
    margin-top: 10px;
    border-width: 4px;
    background: black;
  }
  .expanded-header__username {
    margin-top: 40px;
    margin-left: 15px;
    font-size: 42.5px;
  }
  .expanded-header__info-line {
    margin-top: 95px;
    margin-left: 15px;
  }
  .expanded-header__tabs-container {
    margin-top: 145px;
    margin-left: -100px;
    max-width: 390px;
  }
}

@media (max-width: 550px) {
  .expanded-header__username {
    margin-top: 45px;
    font-size: 37.5px;
  }
}

/* --screen-small */
@media (max-width: 500px) {
  .expanded-header__bg {
    height: 400px;
  }
  .expanded-header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -12.5px; /* center horizontally */
  }
  .expanded-header__profile-picture {
    height: 90px;
    width: 90px;
    margin-top: 5px;
    margin-left: 15px;
    border-width: 3px;
  }
  .expanded-header__username {
    margin-top: 105px;
    font-size: 30px;
  }
  .expanded-header__info-line {
    margin-top: 145px;
    font-size: 15px;
  }
  .expanded-header__tabs-container {
    margin-left: 15px;
    margin-top: 180px;
    max-width: 70%;
  }
  .expanded-header__tab-button {
    display: inline-block;
    font-size: 17.5px;
    margin-right: 0;
    /* Prevent text/tap highlight on mobile */
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* Prevent tap highlight */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
  }
}

@media (max-width: 400px) {
  .expanded-header__info-line {
    min-width: 80px;
  }
  .expanded-header__tabs-container {
    max-width: 95%;
  }
}
