.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 7.5px 0;
  z-index: 100;
}

.navbar__inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar__brand {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.navbar__logo {
  font-size: 40px;
  padding-right: 7.5px;
  padding-top: 3px;
}

.navbar__name {
  font-size: 37.5px;
  font-weight: 500;
  letter-spacing: 1px;
  user-select: none;
}

.navbar__button-wrapper {
  position: absolute;
  right: 0;
  padding-top: 3px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.navbar__button {
  background-color: transparent;
  padding-right: 7.5px;
  border: none;
  cursor: pointer;
}

.navbar__button img {
  object-fit: cover;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

/* --screen-medium */
@media (max-width: 700px) {
  .navbar__logo {
    font-size: 35px;
    padding-right: 7.5px;
  }
  .navbar__name {
    font-size: 32.5px;
  }
  .navbar__button-wrapper {
    padding-right: 10px;
  }
  .navbar__button img {
    height: 27.5px;
    width: 27.5px;
  }
}
