@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Don't forget to also update `colors.js` if you change primary colors */
:root {
  /* Primary Colors */
  --purple: #804ec2;
  --purple--light: #8b53d3;
  --purple--dark: #593588;
  --blue: #45a1f7;
  --blue--light: #76b6f2;
  --blue--dark: #2284e0;
  /* Secondary Colors */
  --green: #29b385;
  --green--light: #24d499;
  --green--dark: #157e5b;
  --yellow: #f8e431;
  --yellow--light: #f9ea63;
  --yellow--dark: #f2dc15;
  /* Neutral Colors */
  --black: #1f292e;
  /* Default Text Selection Color (light grey) */
  --text-selection-bg: #9090902b;
}

/* *,
::before,
::after {
  outline: 1px solid red;
} */

html,
body {
  overflow-x: hidden !important;
  max-width: 100%;
}

body {
  font-family: "Barlow", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
  margin-bottom: 12.5px;
}

.title::selection {
  background: var(--text-selection-bg);
}

.title::-moz-selection {
  background: var(--text-selection-bg);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --screen-medium */
@media (max-width: 700px) {
  .title {
    font-size: 30px;
    margin-left: 7.5px;
    margin-bottom: 10px;
  }
}

/* --screen-small */
@media (max-width: 500px) {
  .title {
    margin-left: 10px;
  }
}
