.scrobble-list {
  position: absolute;
  margin-left: 45px;
  width: 700px;
}

/* -==================- */
/* -=== .page-jump ===- */
/* -==================- */
.page-jump {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 12.5px;
  margin-right: 7.5px;
}

.page-jump input {
  width: 80px;
  padding: 5px 30px 5px 5px;
  border-radius: 4px;
  border: 1px solid #a4a4a4;
  font-family: "Barlow", sans-serif;
  user-select: none;
}

.page-jump input:focus {
  outline: none !important;
}

.page-jump button {
  position: absolute;
  right: 0;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 7.25px 7px 3.75px 7px;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.page-jump button:hover {
  background-color: var(--blue--light);
}

.page-jump button:active {
  background-color: var(--blue--dark);
}

.page-jump button:active .page-jump__search-icon {
  transform: scale(0.85);
}

.page-jump__search-icon {
  transition: transform 0.2s;
}

/* -========================- */
/* -=== .table-container ===- */
/* -========================- */
.scrobble-list__table-container {
  height: 565px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: dark dark;
}

.scrobble-list__table {
  border-collapse: collapse;
  width: 100%;
}

.scrobble-list__row {
  border-top: 1px solid #f0ecec;
  border-bottom: 1px solid #f0ecec;
}

.scrobble-list__row:hover {
  background-color: #f4f3f3;
}

.scrobble-list__row:first-child {
  border-top: 0;
}

.scrobble-list__album-cover {
  object-fit: cover;
  width: 40px;
  height: 40px;
  margin: 6px 0 3px 35px;
  user-select: none;
}

.scrobble-list__album-cover:hover {
  filter: brightness(85%);
}

/* disable stacked view by default */
.stacked-track-info {
  display: none;
}

/* -============================- */
/* -=== .expanded-track-info ===- */
/* -============================- */
.expanded-track-info__song {
  font-weight: bold;
  padding-right: 17.5px;
  width: 270px;
  max-width: 270px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expanded-track-info__artist {
  padding-right: 7.5px;
  width: 150px;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expanded-track-info__song a,
.expanded-track-info__artist a {
  color: black;
  text-decoration: none;
}

.expanded-track-info__song a:hover,
.expanded-track-info__artist a:hover {
  text-decoration: underline;
}

.expanded-track-info__time-scrobbled {
  text-align: right;
  color: #999999;
  position: relative;
  width: 130px;
  font-size: 14px;
  padding-right: 22.5px;
}

.expanded-track-info__time-scrobbled--now:before {
  content: "";
  display: inline-block;
  background-image: url(./now_playing.gif);
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  position: absolute;
  /* Align the image with the text, with padding in b/w them */
  left: 0;
  top: 50%;
  transform: translate(170%, -50%);
}

@media (max-width: 800px) {
  .scrobble-list {
    margin-left: 30px;
    width: 650px;
  }
  .scrobble-list__album-cover {
    margin-left: 20px;
  }
  .expanded-track-info__song {
    width: 260px;
    max-width: 260px;
  }
  .expanded-track-info__artist {
    width: 140px;
    max-width: 140px;
  }
  .expanded-track-info__time-scrobbled {
    padding-right: 17.5px;
  }
  .expanded-track-info__time-scrobbled--now:before {
    transform: translate(175%, -50%);
  }
}

/* --screen-medium */
@media (max-width: 700px) {
  .scrobble-list {
    width: 400px;
    margin-left: 20px;
  }
  .page-jump {
    margin-top: 11.5px;
  }
  .scrobble-list__row {
    font-size: 15px;
  }
  .scrobble-list__album-cover {
    width: 57.5px;
    height: 57.5px;
    margin-left: 25px;
    margin-right: 15px;
  }
  /* disable expanded view */
  .expanded-track-info__song,
  .expanded-track-info__artist,
  .expanded-track-info__time-scrobbled {
    display: none;
  }
  /* -===========================- */
  /* -=== .stacked-track-info ===- */
  /* -===========================- */
  .stacked-track-info {
    display: block;
    margin-top: 3px;
    margin-bottom: 6px;
  }
  .stacked-track-info__song {
    font-weight: bold;
    font-size: 17px;
  }
  .stacked-track-info__details {
    font-size: 13px;
  }
  .stacked-track-info__song a,
  .stacked-track-info__details a {
    color: black;
    text-decoration: none;
  }
  .stacked-track-info__song a:hover,
  .stacked-track-info__details a:hover {
    text-decoration: underline;
  }
  .stacked-track-info__song td,
  .stacked-track-info__details td {
    /* Style the text content of the header */
    padding-right: 15px;
    width: 280px;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .stacked-track-info__time-scrobbled {
    display: block;
    color: #999999;
    margin-top: 3px;
  }
  .stacked-track-info__time-scrobbled--now {
    position: relative;
    display: inline-block;
    padding-left: 16px;
  }
  .stacked-track-info__time-scrobbled--now:before {
    content: "";
    display: inline-block;
    background-image: url(./now_playing.gif);
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* --screen-small */
@media (max-width: 500px) {
  .scrobble-list {
    width: 95%;
    margin-left: 2.5%;
  }
  .scrobble-list__table-container {
    height: 500px;
  }
  .scrobble-list__album-cover {
    margin-right: 12.5px;
  }
  .stacked-track-info__details {
    font-size: 14px;
  }
  .stacked-track-info__song td,
  .stacked-track-info__details td {
    width: 315px;
    max-width: 315px;
  }
}

/* --screen-xs */
@media (max-width: 450px) {
  .page-jump button {
    /* Prevent text/tap highlight on mobile */
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
  }
  .page-jump button:hover,
  .page-jump button:active {
    background-color: var(--blue);
  }
  .scrobble-list__album-cover {
    margin-left: 12.5px;
  }
  .stacked-track-info__song td,
  .stacked-track-info__details td {
    width: 280px;
    max-width: 280px;
  }
}

@media (max-width: 400px) {
  .stacked-track-info__song td,
  .stacked-track-info__details td {
    width: 250px;
    max-width: 250px;
  }
}

/* Updates text selection highlight color to be a light grey */
.page-jump input::selection,
.expanded-track-info__song a::selection,
.expanded-track-info__artist a::selection,
.expanded-track-info__time-scrobbled span::selection,
.expanded-track-info__time-scrobbled div::selection,
.expanded-track-info__time-scrobbled::selection,
.expanded-track-info__time-scrobbled--now::selection,
.stacked-track-info__song a::selection,
.stacked-track-info__details a::selection,
.stacked-track-info__time-scrobbled::selection,
.stacked-track-info__time-scrobbled--now::selection {
  background: var(--text-selection-bg);
}
.page-jump input::-moz-selection,
.expanded-track-info__song a::-moz-selection,
.expanded-track-info__artist a::-moz-selection,
.expanded-track-info__time-scrobbled span::-moz-selection,
.expanded-track-info__time-scrobbled div::-moz-selection,
.expanded-track-info__time-scrobbled::-moz-selection,
.expanded-track-info__time-scrobbled--now::-moz-selection,
.stacked-track-info__song a::-moz-selection,
.stacked-track-info__details a::-moz-selection,
.stacked-track-info__time-scrobbled::-moz-selection,
.stacked-track-info__time-scrobbled--now::-moz-selection {
  background: var(--text-selection-bg);
}
