/* -=====================- */
/* -=== .yearly-stats ===- */
/* -=====================- */
.yearly-stats {
  position: absolute;
  margin-left: 790px;
  width: 590px;
  padding-right: 40px;
}

/* nav arrows */
.yearly-stats__arrow,
.yearly-stats__arrow--disabled {
  font-size: 40px;
}

.yearly-stats__arrow--disabled {
  opacity: 30%;
}

.yearly-stats__arrow:hover {
  opacity: 40%;
  cursor: pointer;
}

/* -=============================- */
/* -=== .tooltip (below grid) ===- */
/* -=============================- */
.yearly-stats__tooltip {
  margin-top: 7.5px;
}

.yearly-stats__tooltip-date {
  margin-left: 24px;
  font-weight: bold;
  font-size: 26px;
  color: black;
  text-decoration: none;
}

.yearly-stats__tooltip-date:hover {
  text-decoration: underline;
}

/* container for individual tooltip cards */
.yearly-stats__tooltip-top-stats {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -=====================- */
/* -=== .tooltip-card ===- */
/* -=====================- */
.yearly-stats__tooltip-card-wrapper {
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.yearly-stats__tooltip-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(-2.5px);
  width: 600px;
  z-index: -1;
  font-size: 16px;
  font-weight: bold;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Delays visibility change */
}

.yearly-stats__tooltip-card-wrapper:hover .yearly-stats__tooltip-card-header {
  opacity: 1;
  transition: opacity 0s ease; /* Instant visibility on hover */
  z-index: 0;
}

.yearly-stats__tooltip-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.1s ease-out;
}

.yearly-stats__tooltip-card-wrapper:hover .yearly-stats__tooltip-card {
  transform: translateY(22.5px);
}

.yearly-stats__tooltip-card img {
  object-fit: cover;
  border-radius: 7px 7px 0 0;
  pointer-events: none;
  user-select: none;
}

.yearly-stats__tooltip-card a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.yearly-stats__tooltip-card a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .yearly-stats {
    margin-left: 730px;
    padding-right: 20px;
  }
}

/* --screen-medium */
@media (max-width: 700px) {
  .yearly-stats {
    margin-left: 460px;
    padding-right: 10px;
  }
}

/* --screen-small */
@media (max-width: 500px) {
  .yearly-stats {
    margin-left: calc(100% + 20px);
    padding-right: 5px;
  }
}

/* Updates text selection highlight color to be a light grey */
.yearly-stats__tooltip-date::selection,
.yearly-stats__tooltip span::selection,
.yearly-stats__tooltip-card-header::selection {
  background: var(--text-selection-bg);
}
.yearly-stats__tooltip-date::-moz-selection,
.yearly-stats__tooltip span::-moz-selection,
.yearly-stats__tooltip-card-header::-moz-selection {
  background: var(--text-selection-bg);
}

/* Updates text selection highlight color to be a transparent white */
.yearly-stats__tooltip-card a::selection {
  background: #aaaaaa50;
}
.yearly-stats__tooltip-card a::-moz-selection {
  background: #aaaaaa50;
}
