<ul class="sg-colors">

  {{#items}}
    <li>
      <span class="sg-swatch" style="background: {{value}};"></span>
      <span class="sg-label">
        <b>{{name}}</b>
        <br />
        <span class="sg-swatch-mini" style="background: {{value}}; margin-top: 0.5rem;"></span>
        <em>{{value}}</em>
        <br />
        <span style="font-size: var(--font-size-xsmall);">{{variable}}</span>
        <br />
        {{comment}}
      </span>
    </li>
  {{/items}}

</ul>
<!--end sg-colors-->

<small>{{{meta.description}}}</small>